
/* Simple CSS Wipe */
html, body, h2, h3, h4, h1, p{
	margin: 0;
	padding: 0;
	color: white;
	font-family: Arapey;
}


body{
	background-color: #ffcccc;
}


h2, h3, h4, h1, p{
	background-color: none;
}

#background{
	width: 100%;
	z-index: 1;
	position: fixed;
}

#intro{
	text-align: center;
	z-index: 5;
	position: relative;
	top:40vh;
	background: none;
	font-size: 10vh;
}

#pink_box{
	width: 100%;
	background-color: #ffcccc;
	z-index: 2;
	margin: 0;
	padding: 0 0 10% 0;
	position: relative;
	top: 100vh;
	border: none;
}

#text_wrapper {
	padding: 5% 0 0 0;
	margin: 0 auto;
	width: 50%;
	min-width: 600px;
	position: relative;
	font-size: 3vh;
}


#me {
	border-radius: 50%;
	filter: grayscale(50%);
	height: 200px;
	position: center;
	float: left;
	margin-right: 50px;
	vertical-align: middle;
}


#linkedin{
	display: inline;
	float:left;
	height:32px;
  padding-bottom: 2%;
}

#github{
	float:right;
	display: inline;
}

@media (max-device-width: 1000px) {
  #github { 
    float: left;
    clear: both;
    font-size: 2vh;
  }
  #linkedin{
    font-size: 2vh;
    margin-bottom: 2%;
  }
  #gitimage{
    margin-right: 10px;
  }
  #text_wrapper{
    width: 90% 
  }
}

a{
	text-decoration: none;
	color:white;
}

a:hover{
	color:gray;
	
}
